<<<<<<< HEAD
* {
    width: auto;
    background-color:brown
}

/* header {
    display: inline;
} */
/* This is the css of the header, which includes my name and the links
My name and the links need to be side-by-side */

h1 {
    display: inline-block;
}

/* css of my name. I want it displayed on the left side of the screen */

/* .links {
    display: inline;
} */
header div {
    float: right;
}

header div ul {
    list-style-type: none;
}
/* Gets rid of the bullets for the list */

header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Lets the listed elements be side-by-side with a little space in between them  */
























































/* css of the links. I want them displayed on the right with the links themselves displayed side-by-side */

/* a */
/* css of the links themselves*/

/* .photo-me */

/* .about-me */
/* css of the "About Me" section of the page. I want the header for this section, h2, to be displayed on the left
and I want the content to be displayed on the right */

/* h2 */
/* css of the header of the "About Me" section of the page. It will read "About Me" */

p {
    display: inline;
}

/* css of the content of the "About Me" section of the page */


/* .portfolio */
/* css of the "Portfolio" section of the page. I want the header for this section, h3, to be displayed on the left
and I want the content to be displayed on the right */

h3 {
    display: inline-block;
}
/* css of the header of the "Portfolio" section of the page */

.portfolio-content {
    display: inline-block;
    float: right;
}
/* The content of the "Portfolio" section of the page. I want the first project to take the width of the box,
    while the other four each take up half the width of the page, forming a total of 3 rows (1-2-2) */

.project-1 {
    display: inline-block;
}
/* css of the first project of the "Portfolio" section of the page. I want it to be as wide as the box */

.other-projects {
    display: inline-block;
}
/* css of the other 4 projects of the page. They are half as wide as the box */


/* .contact-me */
/* css of the "Contant Me" section of the page. I want the header for this sectio, h4, to be displayed on the right
and I want the content to be displayed in the center */

/* h4 */
/* css of the header of the "Contact Me" section of the page*/

/* .contact-content */
/* css of the content of the contact section. I want these to be listed side-by-side */






/* Alright, we're going to do this step by step
Picture this to be a block of marble that we are shaping down
Shape comes first, then details. So lets nail the shape
As of right now, the website is very linear. Some of that needs to change
=======
* {
    width: auto;
    background-color:brown
}

/* header {
    display: inline;
} */
/* This is the css of the header, which includes my name and the links
My name and the links need to be side-by-side */

h1 {
    display: inline-block;
}

/* css of my name. I want it displayed on the left side of the screen */

/* .links {
    display: inline;
} */
header div {
    float: right;
}

header div ul {
    list-style-type: none;
}
/* Gets rid of the bullets for the list */

header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Lets the listed elements be side-by-side with a little space in between them  */
























































/* css of the links. I want them displayed on the right with the links themselves displayed side-by-side */

/* a */
/* css of the links themselves*/

/* .photo-me */

/* .about-me */
/* css of the "About Me" section of the page. I want the header for this section, h2, to be displayed on the left
and I want the content to be displayed on the right */

/* h2 */
/* css of the header of the "About Me" section of the page. It will read "About Me" */

p {
    display: inline;
}

/* css of the content of the "About Me" section of the page */


/* .portfolio */
/* css of the "Portfolio" section of the page. I want the header for this section, h3, to be displayed on the left
and I want the content to be displayed on the right */

h3 {
    display: inline-block;
}
/* css of the header of the "Portfolio" section of the page */

.portfolio-content {
    display: inline-block;
    float: right;
}
/* The content of the "Portfolio" section of the page. I want the first project to take the width of the box,
    while the other four each take up half the width of the page, forming a total of 3 rows (1-2-2) */

.project-1 {
    display: inline-block;
}
/* css of the first project of the "Portfolio" section of the page. I want it to be as wide as the box */

.other-projects {
    display: inline-block;
}
/* css of the other 4 projects of the page. They are half as wide as the box */


/* .contact-me */
/* css of the "Contant Me" section of the page. I want the header for this sectio, h4, to be displayed on the right
and I want the content to be displayed in the center */

/* h4 */
/* css of the header of the "Contact Me" section of the page*/

/* .contact-content */
/* css of the content of the contact section. I want these to be listed side-by-side */






/* Alright, we're going to do this step by step
Picture this to be a block of marble that we are shaping down
Shape comes first, then details. So lets nail the shape
As of right now, the website is very linear. Some of that needs to change
>>>>>>> 0d4e9277d4101c2bd278e51335925fb5eccf2f12
 */